.colorful {
  color: $clrHilight;
}
.app {
  margin: 10px;
  .topbar {
    // border-bottom: 1px solid $clrBorders;
  }

  .board {
    width: 90%;
    margin: 0 auto;
    table {
      width: 100%;
    }
    td {
      width: 12.5%;
      height: 35px;
      border: solid 2px black;
    }
  }

  .board2 {
    margin-top: 10px !important;
  }


}