/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 4, ../sass/_main.scss */
.app {
  margin: 10px;
}
/* line 10, ../sass/_main.scss */
.app .board {
  width: 90%;
  margin: 0 auto;
}
/* line 13, ../sass/_main.scss */
.app .board table {
  width: 100%;
}
/* line 16, ../sass/_main.scss */
.app .board td {
  width: 12.5%;
  height: 35px;
  border: solid 2px black;
}
/* line 23, ../sass/_main.scss */
.app .board2 {
  margin-top: 10px !important;
}
